/* Shapes */
.nav__circle-1,
.nav__circle-2 {
  width: 80px;
  height: 80px;
  background-color: var(--body-color);
  border-radius: 50%;
  position: absolute;
  left: 0;
  z-index: 10;
}

.nav__circle-1 {
  top: -78px
}

.nav__circle-2 {
  bottom: -78px;
}

.nav__square-1,
.nav__square-2 {
  width: 35px;
  height: 40px;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  z-index: 1;
}

.nav__square-1 {
  top: -39;
}

.nav__square-2 {
  bottom: -39px;
}