* {
	box-sizing: 0;
	padding: 0;
	margin: 0;
}

:root {
	--yellow: #ffd322;
	--midYellow: #ffd321;
	--dark:  #313031;
	--midDark: #404040;
	--lightDark: #808080;
	--lightGrey: #f5f5f5;
	--extraLightGrey: #f9f9f9;
}

/*Some setup and utility styling*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Epilogue', san-serif;
	margin: 0.5rem 0;
}

img {
	width: 100%;
	display: block;
}

a {
	color:  black;
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

body {
	font-family: 'Inter', san-serif;
	line-height: 1.6;
}

button {
	font-family: 'Inter';
	font-size: 1rem;
	outline: none;
}

.text-light {
	color: var(--dark);
	font-size: 0.95rem;
	font-weight: 300;
	margin: 0.5rem 0;
}

.container {
	width: 95vw;
	margin: 0 auto;
}

.py-5 {
	padding: 5rem 0;
}

/*header*/
.header {
	height: 100vh;
	background: linear-gradient(
		rgba(255,255,255,0.5), 
		rgba(255,255,255,0.5)), 
		url(img/mac.png) 
		center/cover 
		no-repeat 
		fixed;
}

.navbar-brand {
	font-size: 1.8rem;
	font-weight: 800;
}

.navbar {
	position: fixed;
	top: 0;
	z-index: 999;
	background: white;
	width:  100%;
	box-shadow: 0 0 4px var(--lightGrey);
}

.brand-and-toggler {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 0.7rem 3.5vw;
}

.navbar-toggler {
	color: var(--yellow);
	background: none;
	padding:  0.1rem 0.4rem;
	border: none;
	cursor: pointer;
	font-size: 1.7rem;
	transition:  all 0.3s ease-in-out;
}

.navbar-toggler:hover {
	background:  var(--dark);
	color: #fff;
}

.nav-item {
	padding:  0.5rem 3.5vw;
	transition: background 0.4s ease-in-out;
	cursor: pointer;
}

.nav-link {
	text-transform: uppercase;
	font-size: 0.95rem;
	font-weight: 600;
	letter-spacing: 4px;
}

.navbar-collapse {
	height: 0;
	overflow: hidden;
	transition: all 0.4s ease;
}
