* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header__left img {
	height: 40px;
}

.user__avatar {
	border-radius: 50%;
	width: 45px;
}

.header {
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100;
	box-shadow: 0 5px 8px -9px rgba(0,0,0,0.75);
}

.header__left {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__input {
	display: flex;
	align-items: center;
	background-color: #eff2f5;
	padding: 10px;
	margin-left: 10px;
	border-radius: 999px;
}

.header__input input {
	border: none;
	background-color: transparent;
	outline-width: 0; 
}

/*minuto 19:05*/