		.swiper-container
			width 100%
			padding-top 50px
			padding-bottom 50px

			.swiper-slide
				background-position center
				background-size cover
				width 100px
				height 200px
				display flex
				justify-content center
				
				img
					position absolute
					bottom 0
					max-height 100%
					max-width 150px
				
	.imgBox
		width 500px
		display flex
		justify-content flex-end			

				.swiper-container-3d .swiper-slide-shadow-left,
				.swiper-container-3d .swiper-slide-shadow-right
					background-image none