$bg--white: rgba(255, 255, 255, 0.3);
/*--bg--white: rgba(255,255,255,0.1);*/
$glass: rgba(0, 0, 0, 0.1);
$br: 5px;
$border: solid 1px rgba(255, 255, 255, 0.5);
$bf: blur(20px);

// fonts
$spartan: "League Spartan", sans-serif;
$poppins: "Poppins", sans-serif;
